<nav id="topNav" class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href=""><i class="glyphicon glyphicon-globe"></i> Photos of 2016</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#!/login">Browse more</a></li>
        </ul>
    </div>
</nav>

<section id="three" class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="" class="gallery-box" data-toggle="modal">
                    <img src="images/1.jpg" class="img-responsive" alt="Image 1">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="gallery-box" data-toggle="modal">
                    <img src="images/2.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 hidden-xs">
                <a href="" class="gallery-box" data-toggle="modal">
                    <img src="images/3.jpg" class="img-responsive" alt="Image 3">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 hidden-xs">
                <a href="" class="gallery-box" data-toggle="modal">
                    <img src="images/4.jpg" class="img-responsive" alt="Image 4">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="gallery-box" data-toggle="modal">
                    <img src="images/5.jpg" class="img-responsive" alt="Image 5">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="gallery-box" data-toggle="modal">
                    <img src="images/6.jpg" class="img-responsive" alt="Image 5">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
</body>