
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/shares" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand" style="padding-top: 20px">
                My Photos
            </a>
        </div>
    </div>
</nav>



<div class="container" style="margin-top: 60px">
    <div ng-show="model.success" class="alert alert-success" id="hideSuccess">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger" id="hideError">
        {{model.error}}
    </div>
    <h1> </h1>

    <ul class="list-group">
        <li ng-repeat="share in model.photos" class="list-group-item myItem">
            {{share.name}}
            <a ng-click="model.addToAlbum(share._id, share.name)" class="pull-right"
               style="margin-right: 5px">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <div>
                <img ng-src="{{share.url}}" width="100%"/>
            </div>
        </li>

    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
