
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <div class=" ">
                <div class="active">
                    <p class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/website">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                        </a>
                    </p>
                    <a class="navbar-brand ">
                        New Website
                    </a>
                    <p class="pull-right navbar-text">
                        <!--TODO-->
                        <a ng-click="model.createWebsite(name,description)">
          <span class="glyphicon glyphicon-ok">
          </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
</nav>



<div class="container-fluid">
            <label for="name" >Name</label>
            <input ng-model = "name"
                   id="name"
                   class="form-control"
                   placeholder="name"/>
            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="description"
                      rows="5"
                      class="form-control"
                      placeholder="description"></textarea>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
