@charset "utf-8";
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    /*background-color: #f6f9f9;*/
    color: #95a4a9;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    margin: 10%;
}

.avatar {
    float: left;
    margin: 0 40px 20px 0;
}
.avatar img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 125px;
}

.content {
    float: left;
    width: 300px;
}
.title {
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
}

.social-icons li {
    display: inline;
}
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    text-indent: -9999px;
}
/*.twitter {*/
    /*background-image: url(../img/twitter.png);*/
    /*width: 20px;*/
    /*height: 17px;*/
/*}*/
/*.facebook {*/
    /*background-image: url(../img/facebook.png);*/
    /*width: 10px;*/
    /*height: 19px;*/
/*}*/
/*.googleplus {*/
    /*background-image: url(../img/googleplus.png);*/
    /*width: 21px;*/
    /*height: 19px;*/
/*}*/
/*.dribbble {*/
    /*background-image: url(../img/dribbble.png);*/
    /*width: 21px;*/
    /*height: 19px;*/
/*}*/
/*.instagram {*/
    /*background-image: url(../img/instagram.png);*/
    /*width: 20px;*/
    /*height: 19px;*/
/*}*/
/*.flickr {*/
    /*background-image: url(../img/flickr.png);*/
    /*width: 20px;*/
    /*height: 9px;*/
/*}*/





/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
p,
ul, ol, dl,
.title {
    margin-bottom: 20px;
}
p {
    font-weight: bold;
}
ul, ol, dl {
    list-style-type: none;
}
a {
    color: #339999;
    font-weight: bold;
}
a:hover, a:focus {
    color: #95a4a9;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

/*------------------------------------*\
    $MOBILE
\*------------------------------------*/
@media handheld, only screen and (max-width: 720px) {
    .avatar,
    .content {
        float: none;

    }

    .avatar img {
        max-width: 100px;
        max-height: 100px;
    }

    .content {
        width: 100%;
    }
}