<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/profile" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand" style="padding-top: 20px">Photo Gallery</a>
        </div>
    </div>
</nav>



<div class="container-fluid" style="padding-top: 70px">
    <label>Flickr</label>
    <a class="btn btn-info btn-block" href="#!/user/{{model.userId}}/findAll/flickr">
        Share Your Favorite Photo From Flickr!
    </a>
</div>

<div class="container-fluid" >
    <h1><span class="glyphicon glyphicon-picture"></span> Photos</h1>

    <ul class="list-group">
        <li ng-repeat="share in model.sharePhotos" class="list-group-item  myItem">
            <a ng-click="model.getInformation(share.type, share._id, share._user)">{{share.name}}</a>
            <a style="margin-right: 5px" ng-click="model.addLike(share._id, share.type, share.name)" class="pull-right">
                <span style="color:cornflowerblue" class="glyphicon glyphicon-heart"></span>
            </a>
            <div>
                <img ng-src="{{share.url}}" width="100%"/>
            </div>

        </li>

    </ul>

</div>

<div class="container-fluid" >
    <h1><span class="glyphicon glyphicon-folder-open"></span> Albums</h1>

    <ul class="list-group">
        <li ng-repeat="share in model.shareAlbums" class="list-group-item myItem">
            <a ng-click="model.getInformation(share.type, share._id, share._user)">{{share.name}}</a>
            <a ng-click="model.addLike(share._id, share.type, share.name)" class="pull-right">
                <span style="color:cornflowerblue" class="glyphicon glyphicon-heart"></span>
            </a>
        </li>

    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
