<div class="container" ng-controller="LoginController">
    <h1>Login</h1>

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <input ngmode="username"
           type="text"
           class="form-control"
           placeholder="username"/>
    <input ngmodel="password"
           type="password"
           class="form-control"
           placeholder="password"/>

    <!--<a  ng-click="model.login(user)" >Login</a>-->
    <a ng-click="vm.login(username, password)"
       class="btn btn-primary btn-block">Login</a>

    <a class="btn btn-success btn-block"
       href="#!/register">Register</a>
</div>
