
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="active">
            <a class ="navbar-brand">
                Profile
            </a>
                <p class="navbar-text pull-right" aria-expanded="false">
                    <a href=""/>
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>

        </div>
    </div>
</nav>

    <div class="container-fluid">

        <form>
            <h1> </h1>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model = "model.user.username" type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input ng-model = "model.user.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input ng-model = "model.user.firstname"type="text" class="form-control" id="first-name" placeholder="Alice">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input ng-model = "model.user.lastname" type="text" class="form-control" id="last-name" placeholder="Wonderland">
            </div>
        </form>

        <a href="#!/user/{{model.user._id}}/website"
           class="btn btn-block btn-primary">Website</a>

        <a href="#!/login" class="btn btn-block btn-danger">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="active">
            <p class = "navbar-text pull-right">
                <a href="" >
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
