<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="active">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul ng-repeat="widget in model.widgets"
        ng-switch="widget.widgetType">
        <li ng-switch-when="HEADING" class="wd-content">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
            </div>

        </li>

        <li ng-switch-when="IMAGE" class="wd-content">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
            </div>
            <div>
                <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>
        </li>



        <li ng-switch-when="YOUTUBE" class="wd-content">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>

                <div class = "video-container">
                    <iframe  width="{{widget.width}}" ng-src="{{model.getUrl(widget)}}" frameborder="0" allowfullscreen class="video"></iframe>
                </div>
            </div>

        <li ng-switch-when="HTML" class="wd-content">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a href="">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </div>
            </div>

            <div ng-bind-html="model.getHtml(widget)">
            </div>
        </li>

        <div ng-switch-when="TEXT">
            <div ng-if="widget.formatted" text-angular ta-toolbar="..."></div>
            <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
            <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                      rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                      class="form-control">{{widget.text}}</textarea>
        </div>


        <li ng-switch-default class="wd-content">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
            </div>

            <div>
                {{widget}}
            </div>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="active">
            <p class = "navbar-text pull-right">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>