<div class="fixed-distance list fixed-width">
    <form class="fixed-right-page-distance">
        <div>
            <label for="wd name">Name</label>
            <input type="text"
                   class="form-control"
                   id="wd name"
                   ng-model="model.widget.name"
                   placeholder="Name">
        </div>

        <div class="form-group">
            <label for="text">Text</label>
            <textarea class="form-control large-input"
                      ng-model="model.widget.text"
                      placeholder="Text"
                      id="text"></textarea>
        </div>

        <div>
            <label for="url">URL</label>
            <input type="url"
                   class="form-control"
                   ng-model="model.widget.url"
                   id="url"
                   placeholder="https://www.youtube.com/">
        </div>

        <div>
            <label for="width">Width</label>
            <input type="text"
                   class="form-control"
                   id="width"
                   ng-model="model.widget.width"
                   placeholder="Width">
        </div>
    </form>
</div>
