<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           />
    <label for="size">URL</label>
    <input ng-model = "model.widget.url"
           id="size"
           class="form-control"
           value="https://youtu.be/Aaq3Ah4oNAE"/>

    <label for="name">Width</label>
    <input ng-model = "model.widget.width"
           id="width"
           class="form-control"/>


    <a href="#/widget-list"
       class="btn btn-block btn-danger">
        Delete
    </a>

</div>
