<div class="fixed-distance list fixed-width">
    <div>
        <label for="wd name">Name</label>
        <input type="text"
               class="form-control"
               id="wd name"
               ng-model="model.widget.name"
               placeholder="Name">
    </div>

    <div class="form-group">
        <label for="text">Text</label>
        <textarea class="form-control large-input"
                  id="text"
                  ng-model="model.widget.text"
                  placeholder="Text"></textarea>
    </div>

    <div>
        <label for="url">URL</label>
        <input type="url"
               class="form-control"
               id="url"
               placeholder="Image URL"
               ng-model="model.widget.url">
    </div>

    <div>
        <label for="width">Width</label>
        <input type="text"
               class="form-control"
               id="width"
               ng-model="model.widget.width"
               placeholder="Width">
    </div>


    <label>Flickr</label>
    <a class="btn btn-info btn-block" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search">
        Search on Flickr
    </a>

    <div>
        <label>Upload</label>
        <form action="/api/upload"   method="post" enctype="multipart/form-data">
            <input  name="myFile"    type="file" class="form-control"/>
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
            <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
            <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
            <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
        </form>

    </div>
</div>
