
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/{{model.pageId}}/widget" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">Choose Widget</a>
        </div>
    </div>
</nav>

<div class = "container-fluid">
    <h1> </h1>
    <ul class="list-group">

        <li class="list-group-item">
            <div>
                <a href="#/widget-heading">
                    Header
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="">
                    Label
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="">
                    HTML
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="">
                    Text Input
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="">
                    Link
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="">
                    Button
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="#/widget-image">
                    Image
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="#/widget-youtube">
                    YouTube
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="">
                    Data Table
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <div>
                <a href="">
                    Repeater
                </a>
            </div>
        </li>
    </ul>
</div>





