<div class="container-fluid">
    <div ng-switch-when="TEXT">
        <b>Name</b>
        <div ng-show="model.message" class="alert alert-info">
            {{model.message}}
        </div>
        <input class="form-control" ng-model="model.widget.name" type="text" placeholder="Text">
        Text
        <input ng-model="model.widget.text" class="form-control"/>
        Rows
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
        Placeholder
        <input ng-model="model.widget.placeholder" class="form-control"/>
        Formatted
        <input ng-model="model.widget.formatted" type="checkbox"/>
    </div>
</div>