
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="active">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul ng-repeat="widget in model.widgets"
        ng-switch="widget.widgetType">
        <li ng-switch-when="HEADING" class="wd-content">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
            </div>

            <div ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
                <h5 ng-switch-default>{{widget.text}}</h5>
            </div>
        </li>

        <li ng-switch-when="IMAGE" class="wd-content">
            <div>
                <img ng-src="{{widget.url}}" width="100%">
            </div>

            <div class="wd-widget">
            <div class="wd-toolbar">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>
        </li>



        <li ng-switch-when="YOUTUBE" class="wd-content">
            <div class="wd-widget">
                <div class = "video-container">
                    <iframe ng-src="{{model.getUrl(widget)}}" frameborder="0" allowfullscreen class="video"></iframe>
                </div>
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
            </div>




        <li ng-switch-default class="wd-content">
            <div class="wd-widget">
                <div class="wd-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
            </div>

            <div>
                {{widget}}
            </div>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    <div class="active">
    <p class = "navbar-text pull-right">
    <a href="#!/user/{{model.userId}}">
    <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
    </p>
    </div>
    </div>
</nav>
