

<div class="container-fluid">

    <div>
    <label for="name">Name</label>
    <input id="name"
           type="text"
           ng-model="model.widget.name"
           class="form-control"/>
    </div>

    <div class="from-group">
    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           class="form-control"
    />
    </div>

    <div>
    <label for="url">URL</label>
    <input id="url"
           ng-model = "model.widget.url"
           class="form-control"
           type="url"/>
        </div>

    <div>
    <label for="width">Width</label>
    <input id="width"
           type="text"
           ng-model = "model.widget.width"
           class="form-control" value="100%"/>
    </div>

    <div><
    <label for="file">File Upload</label>
    <input id="file"
           multiple
           type="file"
           class="form-control"/>

        </div>

</div>

