<div class="fixed-distance list fixed-width">
    <div class="form-group">
        <label for="text">Text</label>
        <textarea class="form-control large-input"
                  placeholder="Text"
                  ng-model="model.widget.text"
                  id="text"></textarea>
    </div>

    <div>
        <label for="wd size">Size</label>
        <input type="number"
               class="form-control"
               ng-model="model.widget.size"
               id="wd size"
               placeholder="Size">
    </div>
</div>

