<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           ng-model="name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           ng-model="text"
           class="form-control"
           />
    <label for="size">URL</label>
    <input id="size"
           ng-model="url"
           class="form-control"
           value="https://youtu.be/Aaq3Ah4oNAE"/>

    <label for="name">Width</label>
    <input ng-model = "width"
           id="width"
           class="form-control"/>

</div>
